@model Policlinica.Models.Diagnoz

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Diagnoz</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Диагноз)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Диагноз)
            @Html.ValidationMessageFor(model => model.Диагноз)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Описание)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Описание)
            @Html.ValidationMessageFor(model => model.Описание)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
