@model Policlinica.Models.LoginModel
@{
    ViewBag.Title = "Войти как пациент";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Форма входа</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Выполнить вход" />
        </fieldset>
        <p>
            @Html.ActionLink("Вход для работников поликлиники", "LoginAdmV", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
